/* Main section second-content */
.about-us {
    display: flex;
    flex-direction: column;
}

.about-flex {
    display: flex;
    flex-direction: column;
    background-color: #DBDBDB;
}

.about {
    flex: 1;
}

.conteiner {
    flex: 1.2;
}

.about__img {
    background-position: bottom;
    background-position-y: 60%;
    background-position-x: 40%;
    min-height: 550px;
    transition: .4s;
    opacity: .8;
}

.about__img:hover {
    transition: .4;
    opacity: 1;
}

.about-text { 
    flex: 1;
    padding: 20px;

}

.content-picture {
    max-width: 100%;
}

.find-us_content {
    max-width: 100%;
}