/* Main stylesheet and global for all pages */

body {
    min-height: 100vh;
    margin: 0px auto;
    background-color: #FCF2EF;
}

header {
    background-color: #639DFF;
    display: flex;
}

main {
    max-width: 1700px;
    margin: auto;

}

main section {
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;

}

.top-content {
    border-bottom: 0px;
}

footer {
    background-color: #FF5050;
    border-top: solid 1px;
}

a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    color: #000;
    margin-top: 0px;
    padding-top: 10px;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
    color: #000;
    font-family: 'Fira Sans', sans-serif;
}

/* Header Global */

.home {
    font-size: 1.4em;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    color: #fff;
}

.logotype {
    display: none;
    padding: 5px;
}

.logotype img {
    width: 100px;
    padding: 5px;
}

.header {
    padding-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.top {
    flex: 4;
    margin: auto;
    padding-top: 5px;
    text-align: center;
}

.menu {
    flex: 1;
}

.menu span {
    padding: 20px 10px;
    margin: auto;
}

.sub {
    padding-top: 5px;
    min-width: 90px;
}

.sub ul {
    padding: 0px;
    margin: 0px auto;
    text-transform: uppercase;
}

.sub li {
    display: inline-block;
}

.hamburger {
    display: block;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

/* Nav menu Global */

nav {
    display: none;
    min-width: 100%;
    position: absolute;
    top: 120px;
    left: 0px;
    background-color: #639cffaf;

}

nav ul {
    padding: 15px 0px 10px 30px;
    margin: auto;
   /* width: 170px; */
    text-transform: uppercase;
}

nav li {
    display: block;
}

nav a {
    text-decoration: none;
    padding: 5px 10px 0px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
    transition: 0.9s;
    padding-left: 0px;
}

nav a:hover {
    text-decoration: underline;
    padding: 5px 20px 0px 20px;
    color: rgb(113, 0, 0);
    text-transform: uppercase;
    font-size: 1.4em;
    background-color: #9dbffa;
    transition: 0.9s;
}

.active {
    text-decoration: underline;
    padding: 5px 20px 5px 20px;
    color: rgb(113, 0, 0);
    background-color: #9dbffa;
}

/* Hamburger menu Global */

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

/* Google Icons Global */

.material-icons.md-36 { 
    transition: .5s;
    font-size: 24px;
    color: #fff; 
}

.material-icons.md-36:hover { 
    transition: .5s;
    background-color: #b0cdff;
    border-radius: 10px;
    color: rgb(17, 17, 17);
}

/* Main section top-content Global */

.top-content {
    min-height: 100px;
   /* position: relative; */
}

.top-content .background {
    background-image: url("../images/learn-2405206_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: top;
    min-height: 600px;
   /* position: relative; */
}

.content-bar {
    min-height: 45px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.topmenu-left {
    position: absolute;
    top: 100px;
    left: 0px;
}

.bar {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: absolute;
    top: 550px;
    gap: 5px;
}

.menu-bar {
    flex: 1;
    padding: 0px 10px;
}

.open-hours-text {
    font-style: italic;
    font-size: 2em;
    padding: 5px;
    margin: 0px auto;
}

.open-hours {
    background: rgba(255, 255, 255, 0.8);
    max-width: 200px;
    position: absolute;
    top: 350px;
    right: 50px;
    border-radius: 10px;
}

.open-hours ul {
    margin: 5px auto;
    padding: 5px;
}

.open-hours li {
    font-family: 'Fira Sans', sans-serif;
    display: block;
    font-weight: bold;
}

/* CTA Button + links Global */

.cta {
    display: inline-block;
    padding: 10px;
    /* width: 220px; */
    text-transform: uppercase;
    font-size: 1.5em;
    color: #FFF;
    text-align: center;
}

.movies {
    background-color: #1e8816;
    width: 220px;
    bottom: 10px;
    transition: 0.4s;
}

.calendar {
    background-color: #E4AE42;
    width: 220px;
    bottom: 10px;
    transition: 0.4s;
}

.audioguide {
    background-color: #FF6363;
    width: 220px;
    bottom: 10px;
    transition: 0.4s;
}

.movies:hover, .calendar:hover, .audioguide:hover {
    padding: 15px;
    transition: 0.4s;    
}

.readmore {
    display: block;
    max-width: 135px;
    font-size: 1em;
    color: #000;
    transition: 0.4s;
}

.readmore:hover {
    font-size: 1.2em;
    color: #000;
    transition: 0.4s;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #b84a4a;
}

/* Main section welcome-content Global */ 

.welcome-content {
    margin: 0px auto;

}

.welcome-text {
    margin: 0px auto;
    width: 70%;
    text-align: center;
}

.welcome-text p {
    padding-bottom: 10px;
    margin-bottom: 0px;
}

/* picture Global */ 

.bkg__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 45%;
    min-height: 300px;
    transition: .4s;
    opacity: .8;
}
/*
.bkg__img:hover {
    transition: .4s;
    opacity: 1;
}
*/

.space__img {
    background-image: url("../images/andrew-ruiz-348421.jpg");
}

.dinousare__img {
    background-image: url("../images/mammoth-1257288_1920.jpg");
}

.robotics__img {
    background-image: url("../images/samuel-zeller-158996-small.jpg");
}

.about__img {
    background-image: url("../images/roberto-nickson-396152-small.jpg");
}

.museum__img {
    background-image: url("../images/scott-webb-102825-small2.jpg");
}

.human__img {
    background-image: url("../images/mavis-cw-164128.jpg");
}

/* Main section main-content */ 

.main-content {
    display: flex;
    flex-direction: column;
}

.content-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.contiener-bkg {
    flex: 1.2;
}

.contiener-text {
    flex: 1;
}

.content-box {
    display: flex;
    flex-direction: row;
    background-color: #DBDBDB;
    margin: 0px auto;
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 1px;
    transition: .4s;
    opacity: .8;
}

.content-box:hover {
    transition: .4s;
    opacity: 1;
}

.content-text {
    margin: auto;
    padding: 20px;
    text-align: left;
}

/* Find us Global (Both index.html & visit.html */

.find-us {
    display: flex;
    flex-direction: column-reverse; 
}

.visit_us {
    flex: 1;
    background-color: #DBDBDB;
    position: relative;
    min-height: 350px;
}

.find-us__text { 
    width: 70%;
    position: absolute;
    top: 30px;
    left: 30px;
    padding-left: 20px;
}

.find-us__text span { 
    color: crimson;
}

.find-us__img {
    flex: 1;
    background-image: url("../images/img/tamas-tuzes-katai-rEn-AdBr3Ig-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 74%;
    min-height: 350px;
}


/* Footer section Global */

.footer_bottom {
    display: flex;
    flex-direction: column;
}

.links {
    flex: 1;
}

footer li {
    display: block;
}

footer ul {
    padding: 0px;
}

footer li a {
    color: #fff;
}

footer .links a {
    font-size: 1.1em;
}

footer .links a:hover {
    background-color: #b84a4a;
}

.links-footer {
    flex: 1;
    text-align: center;
}

.links-footer a:hover {
    background-color: #b84a4a;

}