/* Main stylesheet and global for all pages */

body {
    min-height: 100vh;
    margin: 0px auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, main, footer {
    background-color: #FCF2EF;
}

header {
    background-color: #639DFF;
    display: flex;
}

main {
    min-width: 100%;
    margin: 0px auto;
}

main section {
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
}

.top-content {
    border-bottom: 0px;
}

footer {
    background-color: #bd3535;
    border-top: solid 1px;
}

a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    color: #000;
    margin-top: 0px;
    padding-top: 10px;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.2em;
}

.hidden {
    display: none;
}

p {
    font-size: 1em;
    color: #000;
    font-family: 'Fira Sans', sans-serif;
}

/* Header Global */

.home {
    font-size: 1.4em;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    color: #fff;
}

.open {
    font-size: 1.1em;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    max-height: 20px;
}

p .open {
    margin: 0px;
}

.logotype {
    display: none;
    padding: 5px;
}

.logotype img {
    width: 100px;
    padding: 5px;
}

.header {
    padding-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.top {
    flex: 4;
    margin: auto;
    padding-top: 5px;
    text-align: center;
}

.menu {
    flex: 1;
}

.menu span {
    padding: 20px 10px;
    margin: auto;
}

.sub {
    min-width: 84px;
    margin: auto;
}

.sub ul {
    padding: 0px;
    margin: 0px auto;
}

.sub li {
    display: inline-block;
}

/* Search box */

.wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

  .wrap input[type=text] {
    padding: 11px;
    border: 1px solid black;
    width: 70%;
  }

  .search-content .buttontop {
      padding: 4px 12px 9px 12px;
      border: 1px solid black;
      background-color: rgb(230, 230, 230);
      color: black;
      width: 20%;
      text-align: center;
  }

  .buttontop:hover {
    background-color: rgb(202, 202, 202);
  }

  .overlay {
    position: fixed;
    z-index: 1000;
    top: 0%;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .overlay:target {
    display: block;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
  }

  .close {
    background-color: #b0cdff;
    border-radius: 10px;
}

  .popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 200ms;
  }
  .popup .search-content {
    max-height: 30%;
    overflow: auto;
  }

.hamburger {
    display: block;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

/* Nav menu Global */

nav {
    display: none;
    min-width: 100%;
    position: absolute;
    top: 87px;
    left: 0px;
    background-color: #639cffaf;

}

nav ul {
    padding: 15px 0px 10px 30px;
    margin: auto;
   /* width: 170px; */
    text-transform: uppercase;
}

nav li {
    display: block;
}

nav a {
    text-decoration: none;
    padding: 5px 10px 0px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
    transition: 0.9s;
    padding-left: 0px;
}

.active {
    text-decoration: underline;
    padding: 5px 20px 0px 20px;
    color: rgb(113, 0, 0);
    background-color: #9dbffa;
}

/* Hamburger menu Global */

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

/* Google Icons Global */
.material-icons.md-36 { 
    transition: .5s;
    font-size: 24px;
    color: #fff; 
}

.material-icons.cart{
    color: #000;
    font-size: 52px;
}

/* Main section top-content Global */


.top-content {
    min-height: 100px;
    /* position: relative; */
}

.top-content .background {
    background-image: url("../images/learn-2405206_1920resize.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: top;
    min-height: 600px;
    /* position: relative; */
}

.content-bar {
    min-height: 45px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.topmenu-left {
    position: absolute;
    top: 100px;
    left: 0px;
}

.bar {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: absolute;
    top: 540px;
    gap: 5px;
}

.menu-bar {
    flex: 1;
    padding: 0px 10px;
}

/* CTA Button + links Global */

.cta {
    display: inline-block;
    padding: 10px;
    /* width: 220px; */
    text-transform: uppercase;
    font-size: 1.5em;
    color: #FFF;
    text-align: center;
}

.movies {
    background-color: #1e8816;
    width: 220px;
    bottom: 10px;
    transition: 0.4s;
}

.calendar {
    background-color: #b58321;
    width: 220px;
    bottom: 10px;
    transition: 0.4s;
}

.audioguide {
    background-color: #6f2222;
    width: 220px;
    bottom: 10px;
    transition: 0.4s;
}

.readmore {
    display: block;
    font-size: 1em;
    color: #000;
    transition: 0.4s;
}

.readmore:hover {
    font-size: 1.2em;
    color: #000;
    transition: 0.4s;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #b84a4a;
}

/* Main section welcome-content Global */ 

.welcome-content {
    max-width: 100%;
    margin: 0px auto;
}

.welcome-text {
    margin: 0px auto;
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
}

.welcome-text p {
    padding-bottom: 10px;
    max-width: 80%;
    margin: 0px auto;
}

p.short {
    max-width: 80%;
}

/* picture Global */ 

.main-bkg__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 45%;
    min-height: 450px;
}

.bkg__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 45%;
    min-height: 450px;
}

.space__img {
    background-image: url("../images/andrew-ruiz-348421-resize1920.jpg");
}

.dinousare__img {
    background-image: url("../images/mammoth-1257288_1920resize.jpg");
}

.robotics__img {
    background-image: url("../images/samuel-zeller-158996-small.jpg");
    background-position-y: 95%;
    background-position-x: 90%;
}

.about__img {
    background-image: url("../images/roberto-nickson-396152-small.jpg");
}

.museum__img {
    background-image: url("../images/scott-webb-102825-small.jpg");
}

.human__img {
    background-image: url("../images/mavis-cw-164128resize2000.jpg");
}

.find-us__img {
    flex: 1;
    background-image: url("../images/tamas-tuzes-katai-rEn-AdBr3Ig-unsplash1500px.jpg");
}

.visit__resturants__img {
    flex: 1;
    background-image: url("../images/spencer-davis-q3ApAZsS1os-unsplash-small.jpg");
}

.education__content-img {
    background-image: url("../images/mario-heller-hXLkFpvKRys-unsplash-small.jpg");
    min-height: 450px;
}

.for_kids__img {
    background-image: url("../images/ante-hamersmit-vMP8lfhxPi4-unsplash-small.jpg");
    min-height: 450px;
}

.for_teachers__img {
    background-image: url("../images/ergonofis-oLThw11c8kg-unsplash-small.jpg");
    background-position-y: 25%;
    min-height: 450px;
}

.career__img {
    background-image: url("../images/clark-tibbs-oqStl2L5oxI-unsplash-small.jpg");
    min-height: 150px;
}

/* Main section main-content */ 

.main-content {
    display: flex;
    flex-direction: column;
}

.content-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.contiener-bkg {
    flex: 1.2;
}

iframe {
    width: 100%;
    height: 100%;
}

.contiener-text {
    flex: 1;
}

.content-text {
    margin: auto;
    padding: 20px;
    text-align: left;
}

/* Find-us Global (Both index.html & visit.html */

.find-us {
    display: flex;
    flex-direction: column-reverse; 
    background-color: #DBDBDB;
}

/* Resturants and find us */

.visit_us, .visit__resturants {
    flex: 1;
    background-color: #DBDBDB;
    margin: auto;
}

.find-us__text, .resturants-text { 
    width: 70%;
    margin: auto;
}

.find-us__text span { 
    color: crimson;
}

/* Footer section Global */

.footer_bottom {
    display: flex;
    flex-direction: column;
}

.links {
    flex: 1;
}

footer li {
    display: block;
}

footer ul {
    padding: 0px;
}

footer li a {
    color: #fff;
}

footer .links a {
    font-size: 1.1em;
}

.links-footer {
    flex: 1;
    text-align: center;
}

/* Global */

.reverse {
    flex-direction: column-reverse;
}

/* News.html + Calendar.html */

.news-text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
}

.news {
    height: 100%;
    padding: 5px;
    border-left: 1px solid;
    border-right: 1px solid;
}

.news-text h2 {
    margin: 5px 0px 0px 0px;
}